name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout project sources
      uses: actions/checkout@v2
      
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      
    - name: Run build with Gradle Wrapper
      run: ./gradlew build

    - name: Publish to Docker Hub
      uses: docker/build-push-action@v2     
      with:       
        context: .
        username: ${{ secrets.DOCKER_HUB_USERNAME }} 
        password:  ${{ secrets.DOCKER_HUB_PASSWORD }}
        repository: frandelgado1000/spring-example   
        tags: latest
